* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #38bdf8;
}

/* HEADER */
header {
  text-align: center;
  padding: 40px;
}

.profile {
  width: 120px;
  border-radius: 50%;
}

/* SECTIONS */
section {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
}

/* HEADINGS */
h1 {
  color: #38bdf8;
}

h2 {
  color: #facc15;
  margin-bottom: 10px;
}

/* LIST */
ul {
  padding-left: 20px;
  line-height: 1.8;
}

/* PROJECT CARD */
.project {
  background: #020617;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  transition: 0.3s;
}

.project:hover {
  transform: scale(1.03);
}

/* LINKS */
.project a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.project a:hover {
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  section {
    margin: 15px;
  }
}